<!DOCTYPE html>
<html>
  <head>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="robots" content="noindex, nofollow">
    <meta id="meta-viewport" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>שלום 1+1</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >

    <meta name="description" content='אני בגוגל!!' />
    <meta property="og:title" content="1+1 ברשת החברתית" />
    <meta property="og:description" content='1+1 online' />
    <meta property="og:url" content="http://localhost:1337/wooItemStorage/testshop/1514037456159/288250a1qkjbz1wtcq" />

    <meta property="og:type" content="website" />
    <meta property="og:image" content="assets/images/wisky.jpg" />

    <meta property="og:site_name" content="my site name" />

  </head>

  <body>
    <%- body %>




    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/test.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
