

<script type="text/javascript" src="/js/dependencies/sails.io.js"></script>




  <div id="navBar" style="background:#73737b;    width: 100%;height: 51px;  ">
    <button dir="ltr" id="manuButton"
            style="
                   height: 51px;
                   width: 38px;
                  ">-</button>
  </div>

  <div id="mainImg"
       style="
          background:#808080ad ;
          width: 100%;
          height: 489px"  >
    <img src=<%= imgSrc = '' || imgSrc %>
         style="
            height: 420px;
            width: 340px;
            padding-left: 448px;"/>
  </div>
  <div id="inviteFriends"
       style="
              float: right;
              background: #efece4;
              height: 269px;
              width: 50%;
              ">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">


    </script>
    <div class="social-icons">
      <div class="icon email">
        <a  href="<%= email = '' || email%>" tabindex="1">שיתוף במייל</a>
      </div>
      <div class="icon twitter">
        <a href="<%= twitter = '' || twitter%>" target="_blank" tabindex="1">שיתוף בטוויטר</a>
      </div>
      <div class="icon facebook">
        <a href="<%= facebook = '' || facebook%>" target="_blank" tabindex="1">שיתוף בפייסבוק</a>
      </div>
      <!---->
    </div>

    <button onclick="alertIt()" id="inviteFriendsButton"
            style="
                          width: 146px;
                          height: 52px;
                          margin-left: 253px;
                          margin-top: 50px;
                        ">invite</button>
  </div>

  <div id="productInfo"
       style="

             ">
    <h2> product name:  <%= productName = '' || productName%> </h2>
    <h2> product Description:  <%= productDescription = '' || productDescription%> </h2>
    <h2> product Remaining Deals:  ><%= productRemainingDeals = '' || productRemainingDeals%> </h2>

  </div>
  <!--&lt;!&ndash; I got these buttons from simplesharebuttons.com &ndash;&gt;-->
  <!--<style type="text/css">-->

  <!--#share-buttons img {-->
  <!--width: 35px;-->
  <!--padding: 5px;-->
  <!--border: 0;-->
  <!--box-shadow: 0;-->
  <!--display: inline;-->
  <!--}-->

  <!--</style>-->
    <!--<div id="share-buttons">-->

      <!--<a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://simplesharebuttons.com">-->
        <!--<img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />-->
      <!--</a>-->
      <!--<div id="fb-root"></div>-->
      <!--<script>-->
        <!--window.fbAsyncInit = function() {-->
          <!--FB.init({appId: '1466803236734031', status: true, cookie: true,-->
            <!--xfbml: true});-->
        <!--};-->
        <!--(function() {-->
          <!--var e = document.createElement('script'); e.async = true;-->
          <!--e.src = document.location.protocol +-->
            <!--'//connect.facebook.net/en_US/all.js';-->
          <!--document.getElementById('fb-root').appendChild(e);-->
        <!--}());-->
      <!--</script>-->
      <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>-->
      <!--<script type="text/javascript">-->
        <!--$(document).ready(function(){-->
          <!--$('#share_button').click(function(e){-->
            <!--e.preventDefault();-->
            <!--FB.ui(-->
              <!--{-->
                <!--method: 'feed',-->
                <!--name: 'This is the content of the "name" field.',-->
                <!--link: 'http://localhost:1337/wooItemStorage/testshop/1513771941454',-->
                <!--picture: 'http://www.groupstudy.in/img/logo3.jpeg',-->
                <!--caption: '',-->
                <!--description: "",-->
                <!--message: ""-->
              <!--});-->
          <!--});-->
        <!--});-->
      <!--</script>-->
      <!--<img src = "https://simplesharebuttons.com/images/somacro/facebook.png" id = "share_button">-->

  <!--//AIzaSyBr3JMKfkY2iR2gNCZb4Wt0pX5gDRV6gEI-->
      <!--//939872405402-2ve18290uogi30cbos9cve8q1u2716q3.apps.googleusercontent.com-->
      <!--//5lqtjjwCN2rN17nDVrsVJ0Vt-->

      <!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->
      <!--<g:plus action="share"></g:plus>-->

      <!--<a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">-->
        <!--<img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />-->
      <!--</a>-->

    <!--</div>-->




